@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.title-divider {
  border-top: 3px solid rgb(0, 69, 124);
  display: block;
  max-width: 2em;
  margin: 10px auto;
}

.bg-one {
  width: 100%;
  height: fit-content;
  padding: 4px 4px;
}
.bg-one .title {
  font-weight: 900;
}
.bg-one .italic {
  font-style: italic;
  font-size: 1em;
}

.bg-two {
  padding: 4px 4px;
}
.bg-two .h1, .bg-two h1 {
  font-size: 25px;
}
.bg-two .counter-box [class^=col-] {
  padding: 15px 15px;
  border-right: 4px solid rgba(255, 255, 255, 0.7);
}
.bg-two .counter-box [class^=col-]:last-child {
  border-right: 0px;
}

.bg-three {
  width: 100%;
  padding: 10px 20px;
}

.bg-four {
  background-color: rgba(242, 242, 242, 0.9450980392);
  color: rgb(0, 69, 124);
  padding: 4px 4px;
}
.bg-four .visit {
  padding-top: 5px;
}
.bg-four .img-centered {
  margin: 0 auto;
  padding: auto;
}
.bg-four .title-divider {
  border-top: 2px solid rgb(0, 69, 124);
  display: block;
  max-width: 1rem;
  margin: 5px auto;
}
.bg-four .card {
  background-color: rgba(242, 242, 242, 0.9450980392);
  color: rgb(0, 69, 124);
}
.bg-four .section-subheading {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
}
.bg-four .pgrey {
  background-color: #f2f2f2;
  color: white;
  line-height: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  padding: 10px;
  color: rgb(0, 69, 124);
  line-height: 1em;
  text-align: center;
  box-sizing: border-box;
}

.bg-one {
  background-color: #f2f2f2;
  color: rgb(0, 69, 124);
}

.bg-two {
  background-color: #052c65;
  color: white;
}

.bg-three {
  background-color: rgb(212, 225, 235);
  color: rgb(0, 69, 124);
}

.botonera {
  background-color: rgb(0, 69, 124);
  fill: white;
}
.botonera ul li {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}
.botonera ul li a {
  color: white;
  margin-left: 5px;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
}
.botonera ul li a:hover {
  color: grey;
}
.botonera img {
  width: 150px;
}
@media (width < 320px) {
  .botonera img {
    width: 100px;
  }
}

.servicio {
  text-align: center;
  color: rgb(0, 69, 124);
  padding-bottom: 30px;
}

footer {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  font-size: 7px;
  background-color: rgb(0, 69, 124);
}
footer svg {
  width: 30px;
  justify-content: space-around;
  fill: white;
  justify-items: end;
  flex-direction: column;
  height: 35px;
}
footer p {
  color: white;
  font-size: 2.5em;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

img-centered {
  margin: 0 auto;
}

.ciimg {
  width: 70%;
  max-height: 700px;
}

.ci {
  height: 900px;
  padding: 30px 30px;
}

.counter-count {
  border-radius: 50%;
  position: relative;
  color: #ffffff;
  text-align: center;
  line-height: 120px;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  border: 1px solid #FFF;
}

/*# sourceMappingURL=main.css.map */
