
  .counter-count
  {
	  border-radius: 50%;
	  position: relative;
	  color: #ffffff;
	  text-align: center;
	  line-height: 120px;
	  width: 120px;
	  height: 120px;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  display: inline-block;
	  border: 1px solid #FFF;
  }
  
  