*{
    font-family: $mainFont;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
  
}

.title-divider {
    border-top: 3px solid $mainColor;
    display: block;
    max-width: 2em;
    margin: 10px auto;
}


.bg-one{
    width: 100%;
    height:fit-content;
    padding: 4px 4px;
    .title{
        font-weight: $fontBold;
    }
    .italic {
        font-style: italic;
        font-size: $textSm;
    }
}


.bg-two{
    padding: 4px 4px;
    .h1, h1 {
        font-size: 25px;}

    .counter-box [class^=col-] {
        padding: 15px 15px;
        border-right: 4px solid rgba(255, 255, 255, 0.7); }
            .counter-box [class^=col-]:last-child {
            border-right: 0px; }}
    
.bg-three{
    width: 100%;
    padding: 10px 20px;
 
}

.bg-four{
    background-color: #f2f2f2f1;
    color: $mainColor;
    padding: 4px 4px;

    .visit{
        padding-top: 5px;
    }
    .img-centered {
        margin: 0 auto;
        padding: auto;
    }
   
    .title-divider {
        border-top: 2px solid $mainColor;
        display: block;
        max-width: 1rem;
        margin: 5px auto;
        
        
    }

    .card{
        background-color: #f2f2f2f1;
        color: $mainColor;

}

    .section-subheading {
        font-size: 1em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-weight: 400;
    }
    
    .pgrey{
        color: $secondaryColor;
        line-height: 20px;
        padding-bottom: 0%;
    }
       
    }
    




            


        
        
        
        
        
        
  
  
  
  



