*{
    font-family: $mainFont;
    box-sizing: border-box;
}

h1,
h2,
h3, 
h4 {
     color: $mainColor;
     font-weight: $fontBold;
     text-transform: inherit;
     
    }
    .h1 {
    font-size: $textLg;
    color: $mainColor;
    margin-bottom: 20px;
    }
    .h2 {
    font-size: $textLg;
    }

    .h3 {
    font-size: $textMd;
    }

    .h4 {
    font-size: 2.3rem;
    }

p {
    color: $mainColor;
    font-weight: $fontRegular;
    font-size: $textSm;
    line-height: $textSm;
}


.text-center {
    text-align: center;
  
}

.text-right {
    text-align: left;
}

.italic {
    font-style: italic;
    font-size: $textSm;
}

.contenendor{
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px 50px;
    overflow-y: auto;

}

.bg-primary{
    color: $secondaryColor;
    background-color: #052c65;
    .h1, h1 {
        font-size: 25px;}

    .counter-box [class^=col-] {
        padding: 15px 15px;
        border-right: 1px solid rgba(255, 255, 255, 0.1); }
            .counter-box [class^=col-]:last-child {
              border-right: 0px; }
     
}

.bg-second {
    color: $keyColor;
    background-color: rgba(0, 68, 124, 0.297);
    width: 100%;
    padding: 20px 10px;
    .img-centered {
        margin: 0 auto;
      }
    .bx {
        padding-top: 15px;
        border-radius: 2px;
      }
    .title-divider {
        border-top: 2px solid #002f87;
        display: block;
        max-width: 1rem;
        margin: 10px auto;
      }
    .section-subheading {
        font-size: 16px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 75px;
        padding: 0 10%;
        line-height: 1;
      }
      .bxx {
        box-sizing: border-box;
        border: 2px solid rgba(255, 255, 255, 0.354);
        padding: 20px 20px;
        text-align: center;
    
      }


  }
  
  
  
  
  
  
  
  
  
  
  



