footer {
    padding: 30px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 5px;
    background-color: rgb(0, 69, 124);
    footer svg{
        width: 20px;
        fill: white;
        justify-items: end;
        .pfooter{
            display: flex;
            justify-content: flex-start;
            justify-content: space-;
            color: white;
        }
    }
}




