footer {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    font-size: 7px;
    background-color: $mainColor;
    svg{
        width: 30px;
        justify-content: space-around;
        fill: $secondaryColor;
        justify-items: end;
        flex-direction: column;
        height: 35px;
    }   
    p{
        color: $secondaryColor;
        font-size: $textMd;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    
}




