@mixin textos ($size, $padding, $color, $align){
    //variable global
    font-family: $mainFont;
    //variables locales
    font-size: $size;
    padding: $padding;
    color: $mainColor;
    line-height: $textSm;
    @if $align ==center {text-align: center}
    @else if $align ==right {text-align: right}
    box-sizing: border-box;
}

p{
    @include textos(1.1em, 10px, $mainColor, center)
    //3 parametros: 1 es para el font size, 2 es para padding, 3 COLOR
}



@mixin bg-color_text-color($bgcolor, $color){
    @if $bgcolor == $mainColor {background-color: $mainColor; color:$secondaryColor}
    @else if $bgcolor == #f2f2f2 {background-color: #f2f2f2 ;color: $mainColor}
    @else if $bgcolor == $thirdColor {background-color: $thirdColor; color: $mainColor}
    @else if $bgcolor ==  #052c65 {background-color: #052c65; color: $secondaryColor}
    @else if $bgcolor == rgba(1, 91, 151, 0.486) {background-color: rgba(1, 91, 151, 0.486);color: $mainColor}
}
.bg-one{
    @include bg-color_text-color(#f2f2f2, $mainColor)
}

.bg-two{
    @include bg-color_text-color(#052c65, $secondaryColor);
}

.bg-three{
    @include bg-color_text-color ($thirdColor, $mainColor)
}






 




  


