.botonera{
    background-color: $mainColor;
    ul{
        li{
            margin-left: 5px;
            a{
                color: $secondaryColor;
                margin-left: 5px;
                font-size: $textMd;
                &:hover{
                    color:$mainColor;
                }
            }
        }
    }
    img{
        width: 150px;
    }
}