.botonera{
    background-color: rgba(0, 68, 124, 0.959);
    fill: $secondaryColor;
    ul{
        li{
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            a{
                color: $secondaryColor;
                margin-left: 5px;
                font-size: $textSm;
                justify-content:space-between;
                align-items:center;
                &:hover{
                    color:$keyColor;
                }
            }
        }
    }
    img{
        width: 150px;
        @media (width < 320px){
            width: 100px;
        }
    }
}