//serivicios
.servicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    text-align: center;
   
        figure{
            width: 30%;
            border-radius: 5px;
            margin: 20px 0px;
            padding: 10px 15px;
            p{ 
                font-size: 1.5 em;
                line-height: 1.2rem;
                margin: 20px 0;
                text-align: left;
                color: $mainColor;
            }
            img{
                width: 75%;
                transform: scale(1);
                transition: all 1s;
                cursor: pointer;
            }
            figcaption{
                color: $mainColor;
                font-size: 1.5em;
                margin-bottom: 10px;

            }  
        }
    }