//variables


//colors
$mainColor: rgb(0, 69, 124);
$secondaryColor:white;
$thirdColor: rgb(187, 212, 233);
$keyColor: grey;

//fonts
$mainFont:'Poppins', sans-serif;

//sizing
$textSm:1em;
$textMd:2.5em;
$textLg:3em;
$textXl:7em;

//font weight
$fontLight:100;
$fontBold:900;
$fontRegular:300;


p {
font-family: $mainFont;
color: $mainColor;
text-align: center;
}



